<header class="row justify-content-md-center bg-light">
    <div class="col-md-10">
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-nav">
                <a class="nav-item nav-link px-2" routerLinkActive="active" routerLink="best" >Top 100</a>
                <a class="nav-item nav-link px-2" routerLinkActive="active" routerLink="worst">Worst Movies</a>
                <a class="nav-item nav-link px-2" routerLinkActive="active" routerLink="bestNew">Best New Movies</a>
            </div>
        </nav>
    </div>
</header>



<router-outlet></router-outlet>

