<section id="cinema-section">
    <div class="row justify-content-center my-5">
        <div class="col-md-10 align-self-center">
            <div class="options">
                <h5 class="d-inline mr-2">Find nearby</h5>

                <select class="styled-select yellow semi-square" (change)="getLocations()" id="interest">

                    <option value="default">Select your interest</option>

                    <option value="movie_theater">Movie Theaters</option>

                    <option value="movie_rental">Movie Rental</option>

                </select>

                <h5 class="d-inline mx-3">within</h5>

                <select class="styled-select yellow semi-square" (change)="getLocations()" id="distance">

                    <option value="2500" selected>2,5</option>

                    <option value="5000">5 </option>

                    <option value="10000">10</option>

                    <option value="20000">20</option>

                </select> <h5 class="d-inline ml-2">kilometers</h5>
            </div>

            <div class="my-5" id="mapArea" style="width:600px;height:600px">

            </div>
        </div>
    </div>
</section>
