<section id="cinema-featured">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            <h3>Cinema</h3>
            <hr>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col-md-2">
            <img [src]="movie?.pictureUrl" class="img-fluid" alt="hello">
        </div>
        <div class="col-md-3 ">
            <h1>{{movie?.title}} ({{movie?.year}})</h1>
            <i class="fa fa-star"></i><span><h1 class="averageRating">{{movie?.averageRating | number:'1.2-2'}}</h1></span><br>
            <ul class="list-group">
                <li class="list-group-item review" *ngFor="let review of movie?.reviews">
                    <p class="review-content">{{review.user.firstName}} {{review.user.lastName}} <b>|</b> {{review.content}}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-3">

        </div>
    </div>
</section>





