
* {
    box-sizing: border-box;
}

/*li {*/
    /*display: inline-block;*/
    /*width: 30%;*/
    /*margin-right: 1%;*/
/*}*/


hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333;
}