<section id="login-section my-5">
    <div class="row my-5 justify-content-md-center">
        <div class="col-md-10">
            <h2 class="mb-4">Log in:</h2>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
                </div>
                <button class="btn btn-warning font-weight-bold" type="submit" [disabled]="!myForm.valid">Submit</button>
            </form>
        </div>
    </div>
</section>

