<div class="col-md-8 col-offset-2">

    <div *ngIf="statistics" class=" col-md-8 col-md-offset-2 statisticsSection">

        <h4>Registered: {{statistics.registerDate | date:'long'}}</h4>
        <h4>Last Login: {{statistics.lastLogin | date:'long'}}</h4>
        <br>
        <h4>Amount of Ratings: {{statistics.amountOfRatings}}</h4>
        <h4>Average Rating: {{statistics.averageRating | number:'1.0-2'}} </h4>
        <h4>Standard Deviation: {{statistics.standardDeviation | number:'1.0-2'}}</h4>
        <br>
        <h4>Amount Of Reviews: {{statistics.amountOfReviews}}</h4>
    </div>

    <hr class="col-md-8 col-md-offset-2">

    <div class="top10Section col-md-8 col-md-offset-2">
        <h2>Top 10:</h2>
        <div *ngIf="!user?.top10.filledIn; else top10" class="inputTop10Div">
            <h4>You have not chosen your top 10</h4>
            <button (click)="showInput = true" class="btn btn-primary">Create a top 10</button>

            <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="showInput">
                <div *ngFor="let number of repeat">
                    <app-top10Input [number]="number"></app-top10Input>
                    <app-search [searchInput]="input1" (chosenMovie)="changeInput($event)"></app-search>
                </div>
                <button type="submit" class="btn btn-primary">Save Your Top 10</button>
            </form>
        </div>


        <ng-template #top10>
            <div class="list-group">
                <a routerLink="/movie" class="list-group-item">
                </a>
            </div>
        </ng-template>

    </div>

</div>