<h2 class="title">Reviews:</h2>
<hr>
<ul class="list-group">
    <li @fade @leaveView style="position: relative" *ngFor="let review of movie?.reviews" [id]="review._id" class="list-group-item">
        <p>{{review.user.firstName}} {{ review.user.lastName}}<span class="badge"> </span></p>
        <span (click)="displayModal(review.content, review._id, modal)" *ngIf="checkUser(review.user._id)" class="glyphicon glyphicon-edit" style="position: absolute; right: 50px; top: 20px"></span>
        <span (click)="deleteReview(review._id)" *ngIf="checkUser(review.user._id)" style="position: absolute; right: 30px; top: 20px" class="glyphicon glyphicon-remove-circle"></span>
        <hr>
        <p>{{review.content}}</p>
    </li>
</ul>



<div #modal id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

            <span class="close">&times;</span>
        <h2>Edit your review:</h2>
        <textarea #textarea class="form-control textareaEdit" name="edit" cols="30" rows="10"></textarea>
        <button class="btn btn-primary" type="button" (click)="editReview(this, textarea, modal)">Save</button>

    </div>

</div>