header {
background-color: #ffba00;
}

a  {
    text-decoration: none;
}

.title {
    color: white
}


.stats {
    padding: 0;
    list-style-type: none;
}

.stats li {
    display: inline;
    list-style: none;
}

.nav {
    background-color: black;
    border-radius: 5px;
    width: 100%;
}

.nav-pills .active a {
    background-color: white;
    color: black;
}

.nav li a {
    color: white;
    font-weight: bolder;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    height: 0.5em;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.last {
    position: relative;
}

.searchSugList {
    position: absolute;
    z-index: 100;
}

.searchLi {
    width: 100%;
}


