

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: white;
}

.navbar .title {
    color: white;
    font-size: 3em;
}

.nav-item {
    font-weight: bold;
}

.stats {
    list-style: none;
}

.stats li{
    display: inline;
}

form {
    position: relative;
}

.searchSugList {
    position: absolute;
    top: 35px;
    left: 0;
}

label {
    display: none;
}

#signupModal {
    width: 75%;
    margin: auto;
}

.modal-body input {
    width: 100%;
}